<tr>
  <td>
    <%= image_tag "iphone-12", class: "img-cart-item" %>
    <b><%= cart_item.product.name %></b>
  </td>
  <td class="align-middle">
    <b><%= format_number_to_currency cart_item.product.price %> đ</b>
  </td>
  <td class="align-middle">
    <div class="quantity">
      <input type="hidden" class="product-id" data-product-id="<%= cart_item.product.id %>">
      <input value=<%= cart_item.quantity %> min="0" max=<%= cart_item.product.residual %>
      class="form-control text-center change-quatity cart-item-qty"
      type="number" name="quantity" id="quantity" data-cart-item-id="<%= cart_item.id %>">
      <input value="1" class="cart_product_id" type="hidden" name="id" id="id">
    </div>
  </td>
  <td class="align-middle total-of-cart-item-<%= cart_item.id %>">
    <b><%= format_number_to_currency cart_item.total_price %> đ</b>
  </td>
  <td class="align-middle delete-cart-item">
    <%= image_tag "icons-delete-25" %>
  </td>
</tr>
