<div class="category-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 ">
        <div class="category-listing mb-50">
          <div class="single-listing">
            <h3>Danh mục</h3>
            <a href="#"><p>Iphone</p></a>
            <a href="#"><p>Ipad</p></a>
            <a href="#"><p>Macbook</p></a>
            <a href="#"><p>Apple watch</p></a>
          </div>
        </div>
      </div>
      <!--?  Right content -->
      <div class="col-xl-9 col-lg-9 col-md-8 ">
        <!--? New Arrival Start -->
        <div class="new-arrival new-arrival2">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <%= image_tag("arrival8")%>
                  <div class="favorit-items">
                    <%= image_tag("favorit-card")%>
                  </div>
                </div>
                <div class="popular-caption">
                  <p><a href="product_details.html">Iphone 12</a></p>
                  <p>13.000.000đ</p>
                  <p>Đã bán: 143</p>
                  <button type="button" class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <%= image_tag("arrival8")%>
                  <div class="favorit-items">
                    <%= image_tag("favorit-card")%>
                  </div>
                </div>
                <div class="popular-caption">
                  <p><a href="product_details.html">Iphone 12</a></p>
                  <p>13.000.000đ</p>
                  <p>Đã bán: 143</p>
                  <button type="button" class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <%= image_tag("arrival8")%>
                  <div class="favorit-items">
                    <%= image_tag("favorit-card")%>
                  </div>
                </div>
                <div class="popular-caption">
                  <p><a href="product_details.html">Iphone 12</a></p>
                  <p>13.000.000đ</p>
                  <p>Đã bán: 143</p>
                  <button type="button" class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <%= image_tag("arrival8")%>
                  <div class="favorit-items">
                    <%= image_tag("favorit-card")%>
                  </div>
                </div>
                <div class="popular-caption">
                  <p><a href="product_details.html">Iphone 12</a></p>
                  <p>13.000.000đ</p>
                  <p>Đã bán: 143</p>
                  <button type="button" class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
