<header>
  <div class="header-area ">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          <div class="header-left d-flex align-items-center">
            <span class="logo-text">
              <%= link_to root_path do %>
                <%= image_tag("logo-text-2") %>
              <% end %>
            </span>
            <!-- Main-menu -->
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="header-right1 d-flex align-items-center">
            <div class="search d-none d-md-block">
              <ul class="d-flex align-items-center">
                <li class="mr-15">
                  <div class="nav-search search-switch d-flex">
                    <%= search_form_for @q do |f| %>
                      <%= f.search_field :name_cont, placeholder: "Search...", class: "form-control mt-0" %>
                    <% end %>
                  </div>
                </li>
                <li>
                  <%= link_to carts_path do %>
                    <div class="card-stor">
                      <%= image_tag("card") %>
                      <span>0</span>
                    </div>
                  <% end %>
                </li>
                <% if user_signed_in? %>
                  <div>
                    <a class="profile-pic" href="#">
                      <%= image_tag("varun.jpg", alt: "user-img", class: "img-circle")%>
                      <span class="font-medium"><%= current_user.name %></span>
                    </a>
                  </div>
                  <div class="dropdown m-2">
                      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"></a>
                      <div class="dropdown-menu">
                        <%= link_to "Settings", "#", class: "dropdown-item" %>
                        <hr class="dropdown-divider">
                        <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "dropdown-item" %>
                      </div>
                  </div>
                <% else %>
                  <li>
                    <%= link_to "Login", new_user_session_path, class: "me-2 ms-2" %>
                  </li>
                  <li>
                    <%= link_to "Sign up", new_user_registration_path, class: "me-2" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
